.textEditorLight{
    height: 500px;
}

.textEditorDark{
    height: 500px;
    background-color: #222225;
}

.textEditorHeader{
    height: 30px;
    width: 400px;
}

.editorField{
    resize: none;
    width: 100%;
    height: 480px;
}

.editorFieldDark{
    resize: none;
    width: 100%;
    height: 480px;
    background-color: #222225;
}

.editorButton{
    width: 30px;
    height: 30px;
    border: 1px solid #717183;
    float: left;
}